body {
  background-color: #f8f9fa;
}

.navbar {
    background-color: #ffffff; /* Color de fondo del navbar */
    border: 1px solid #28a745; /* Color del borde del navbar */
    color: black;
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño de la fuente del logo */
    color: #28a745; /* Color del texto del logo */
}
.navbar-nav a {
    padding: 0.5rem 1rem;
    font-size: 1.2rem; /* Tamaño de la fuente de los elementos del navbar */
    color: black; /* Color del texto del navbar */
    text-decoration: none;
}

/* Cambiar el color de fondo del navbar */
.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff; /* Color del icono del botón de hamburguesa en pantallas pequeñas */
}

/* Alineación del contenido del navbar a la derecha */
.navbar-nav {
    margin-left: auto;
}
.logo1{
    width: 100%;
} 
a:hover{
    color: #000000 !important;
    background-color: transparent !important;
}



table {
    width: 100%;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}
@media (max-width: 768px) {
    table {
        width: 50%; /* Ajusta el valor según sea necesario para pantallas más pequeñas */
    }
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.botones {
    padding: 10px 20px;
    background-color: #3AAA3C;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2%;
    
}
h1{
    text-align: center;
    padding-top: 1%;
}
.botones:hover {
    background-color: #065F2C;
  }
  
.botones:active {
    background-color: #065F2C;
}
  
th{
    background-color: #3AAA3C;
    color: white;
}
a{
    text-decoration: none;
     color: #fffdfd ;
}

.boton-registrar {
    background-color: #3AAA3C;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-bottom: 3%;
}

.btn-color {
    background-color: #3AAA3C !important; 
    color: #fff !important;
}
.contenedor{
    padding-top: 2%;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
   
}
.buscar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;

}
.barra{
    box-sizing: border-box;
    height: 60px;
    width: 50%;
    color: #000000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #065F2C ;
    
    
}